.sidenav-ul {
    height: auto !important;
}

.hide-arrow {
    display: none !important;
}

.show-arrow {
    display: block !important;
}

.current-tab {
    fill: oklch(62.3% 0.214 259.815) !important;
    color: oklch(62.3% 0.214 259.815) !important;
    background-color: oklch(93.2% 0.032 255.585) !important;
}

.current-sub-tab {
    color: #000 !important;
    background: oklch(92.8% 0.006 264.531) !important;
}